
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 280 15% 98%;
    --foreground: 269 42% 15%;
    --card: 0 0% 100%;
    --card-foreground: 269 42% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 269 42% 15%;
    --primary: 269 42% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 236 66% 96%;
    --secondary-foreground: 236 66% 40%;
    --muted: 280 10% 94%;
    --muted-foreground: 269 20% 45%;
    --accent: 236 66% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 269 20% 90%;
    --input: 269 20% 90%;
    --ring: 269 42% 43%;
    --radius: 1rem;
  }
  .dark {
    --background: 269 42% 5%;
    --foreground: 0 0% 98%;
    --card: 269 42% 7%;
    --card-foreground: 0 0% 98%;
    --popover: 269 42% 7%;
    --popover-foreground: 0 0% 98%;
    --primary: 269 42% 43%;
    --primary-foreground: 0 0% 98%;
    --secondary: 269 42% 12%;
    --secondary-foreground: 0 0% 98%;
    --muted: 269 42% 12%;
    --muted-foreground: 269 20% 65%;
    --accent: 236 66% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 269 42% 15%;
    --input: 269 42% 15%;
    --ring: 269 42% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
